import('stats')
import('ggplot2')
import('gridExtra')
import('ncvreg')
import('abind')
import('lars')
import('covTest')
import('hdi')
import('utils')
import('graphics')
import('Matrix')
import('grDevices')
exportPattern("Fig")
exportPattern("Sim")
export("loadData")
